.display-user {
    width: 90%;
}

.cell-padding {
    padding-left:250px !important;
}

.cell-tiny {
    padding-left: 100px !important;
}

.bg-orange {
    background:#FFB84D;
}

.avatar-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit:cover;
  }
