.display-user {
    width: 100%;
}

.cell-padding {
    padding-left:100px !important;
}

.avatar-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit:cover;
  }

  .icon-md{
    font-size:3.5rem;
  }

.user-table {
    width: 300px;
}

.text-heigt {
    height: 10%;
}

.ss-container {
	display: flex;
	width: 100%;
    height: 100vh;
}
.ss-sidebar {
	width: 100%;
    height: 100%;
    background-color: white;
}

.ss-main {
	width: 100%;
	margin:0;
}
.sidebar-selected {
    background-color: #F4F7FC;
}
@media screen and (max-width: 800px) {
	.sidebar-selected {
        background-color: white;
	}
}

/* remove auto margin and padding */
html, body, .container-fluid, .row {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* set container height */
.container {
    height: 100%;
}

/* set textarea resize*/
.textarea {
    resize: none;
}

/* set login-icon position at left-bottom */
.login-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
@media screen and (max-width: 800px) {
	.login-icon {
		left: 5px;
	}
}

/* remove the left space of ul list */
ul {
    list-style: none;
    padding-left: 0
}

/* colors */
.text-orange {
    color: #FFB84D;
}
.bg-orange {
    background:#FFB84D;
}
.btn-orange {
    background:#FFB84D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e5a545;
  --bs-btn-hover-border-color: #e5a545;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e5a545;
  --bs-btn-active-border-color: #e5a545;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FFB84D;
  --bs-btn-disabled-border-color: #FFB84D;
}

.admin-posts-img, .delete-post-img{
    width: 7rem;
    height: 7rem;
    object-fit:cover;
}

.cell-padding-sm {
    padding-left:50px !important;
}
