.display-user {
    width: 90%;
}

.cell-padding {
    padding-left:250px !important;
}

.cell-tiny {
    padding-left: 100px !important;
}

.bg-orange {
    background:#FFB84D;
}

.avatar-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit:cover;
  }

  .icon-md{
    font-size:3.5rem;
  }

  .ss-container {
	display: flex;
	width: 100%;
    height: 100vh;
}
.ss-sidebar {
	width: 20%;
    background-color: white;
}
