.fa-hashtag {
    color: #6A9DFF;
}

.tag-header {
    --bs-text-opacity: .7;
}

.tag-bar {
    height: 100%;
}

.tag-name {
    --bs-text-opacity: .5;
}

.logo-center {
    text-align: center;
}

.chat-body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90%;
}

.fa-circle-plus {
    opacity: 0.5;
    cursor: pointer;
}

/* Hide input:file for image */
.form-image {
    display: none;
}
