.hashtag-icon {
    color: #6A9DFF;
}

.home-text {
    word-break: break-word;
}

.tag-bar {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 220px;
    height: 100vh;
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none;    /* Firefox */
}
.tag-bar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.tag-name {
    opacity: .9;
    color: #505050;
}

.tag-date {
    word-break: break-word;
}

.tag-item {
    &:hover {
    background-color: #F4F7FC;
    }
}

.tag-selected {
    background-color: #F4F7FC;
}

.logo-center {
    text-align: center;
}

.textarea {
    resize: none;
}

.chat-view {
    height: 100vh;
}

.chat-header {
    height: 48px;
    word-break: break-all;
}

.chat-body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f4f7fc;
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none;    /* Firefox */
}
.chat-body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.fa-circle-plus {
    opacity: 0.5;
    cursor: pointer;
}

.user-avatar {
    width: 4em;
    height: 4em;
    object-fit: cover;
}

.user-avatar-sm {
    width: 3em;
    height: 3em;
    object-fit: cover;
}

.chat-text {
    color: #505050;
    word-break: break-word;
}

/* Hide input:file for image */
.form-image {
    display: none;
}

.chat-image {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.chat-modal-image {
    max-width: 90vw;
    object-fit: cover;
}

.chat-element {
    &:hover {
        background-color: #eef3fc;
    }
}

.chat-form {
    background-color: white;
    height: 55px;
}

/* image preview position */
.image-preview {
    position: fixed;
    right: 10px;
    bottom: 40px;
}

.row, .col, .col-2, .col-auto {
    margin: 0;
    padding: 0;
}

.right {
    right: 0;
}

.modal-bg {
    background-color: #202020;
}
