.fa-hashtag {
    color: #6A9DFF;
}

.tag-header {
    opacity: .8;
    color: #505050;
}

.tag-bar {
    height: 100%;
}

.tag-name {
    opacity: .9;
    color: #505050;
}

.tag-selected {
    &:hover {
    background-color: #F4F7FC;
    }
}

.logo-center {
    text-align: center;
}

.textarea {
    resize: none;
}

/* hide when the display width is <= 700px */
@media screen and (max-width: 700px) {
	.hide-700 {
		display: none;
	}
}

/* show when the display width is <= 700px */
.show-700 {
    display: none;
}
@media screen and (max-width: 700px) {
	.show-700 {
		display: block;
	}
}

.text-orange {
    color: #FFB84D;
}

.chat-body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90%;
    background-color: #f4f7fc;
}

.fa-circle-plus {
    opacity: 0.5;
    cursor: pointer;
}

.user-avatar {
    width: 4em;
    height: 4em;
    object-fit: cover;
    position: absolute;
}

.chat-text {
    color: #505050;
}

/* Hide input:file for image */
.form-image {
    display: none;
}

.chat-image {
    width: 30%;
    height: 20%;
    border-radius: 10px;
}

.btn-send {
    width: 5em;
    transform: translate(-30px, -3px);
}

.d-flex {
    height: 100vh;
}

.chat-element {
    position: relative;

    &:hover {
        background-color: #eef3fc;
    }
}

.chat-content {
    margin-left: 3.5rem;
}

.chat-likes {
    width: 3.5em;
}

.likes-count {
    width: 1em;
}
