.post-exit {
    position: absolute;
    color: #505050;
    top: 0;
    left: 0;
}

.post-exit-outline {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
}

// in show.blede.php
.photo-container {
    background-color: #505050;
}

/* image in post/show page */
.post-image {
	display: block;

	img {
		display: block;
        max-height: 100vh;
        max-width: 100%;
		object-fit: cover;
	}
    @media screen and (max-width: 1000px) {
        img {
            max-height: 50vh;
        }
    }
}

.post-image-container {
    height: 100vh;
}
@media screen and (max-width: 1000px) {
    .post-image-container {
        height: 50vh;
    }
}

.icon-sm{
    font-size: 3rem;
}

.avatar-sm{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.post-list li{
    background-color: transparent;
}

.col {
    margin: 0;
    padding: 0;
}

.col-auto {
    margin: 0;
    padding: 0;
}
