.profile-container {
    max-width: 840px;
}

.profile-post-container {
    max-width: 799px;
}

.icon-lg{
    font-size: 9rem;
}

.icon-ex-lg{
    font-size: 18rem;
}

.avatar-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.avatar-ex-lg{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}

/* post image in profile page */
@media screen and (min-width: 992px) {
	.profile-post {
        width: 194px;
        height: 194px;
        object-fit: cover;
	}
}
@media screen and (max-width: 991px) {
	.profile-post {
        width: 100%;
        object-fit: cover;
	}
}

.col {
    margin: 0;
    padding: 0;
}

.col-3 {
    margin: 10;
    padding: 0;
}

.col-10 {
    margin: 0;
    padding: 0;
}
