.profile-container {
    max-width: 920px;
}

.icon-lg{
    font-size: 9rem;
}

.icon-ex-lg{
    font-size: 18rem;
}

.avatar-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.avatar-ex-lg{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}

/* post image in profile page */
.profile-post{
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.col-3{
    margin: 0;
    padding: 0;
}
