
/* hide when the display width is < 992px */
@media screen and (min-width: 992px) {
	.hide-992 {
		display: block;
	}
}
@media screen and (max-width: 991px) {
	.hide-992 {
		display: none;
	}
}

/* show when the display width is < 992px */
@media screen and (min-width: 992px) {
	.show-992 {
		display: none;
	}
}
@media screen and (max-width: 991px) {
	.show-992 {
		display: block;
	}
}

/* sidebar display settings */
.ss-container {
	display: flex;
	width: 100%;
    height: 100vh;
}

.ss-row {
    height: 100%;
}

.ss-sidebar {
    height: 100%;
}
@media screen and (min-width: 992px) {
	.ss-sidebar {
        width: 150px;
	}
}
@media screen and (max-width: 991px) {
	.ss-sidebar {
        width: 45px;
	}
}

.sidebar-fix {
    position: fixed;
    top: 0;
    left: 0;
	width: inherit;
    height: 100vh;
    background-color: white;
}

.ss-main {
	width: 100%;
    height: 100%;
	margin:0;
}

.sidebar-selected {
    background-color: #F4F7FC;
}

/* remove auto margin and padding */
html, body, .container-fluid, .row {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* set container height */
.container {
    height: 100%;
}

/* set textarea resize*/
.textarea {
    resize: none;
}

/* set login-icon position at left-bottom */
.login-icon {
    position: absolute;
    bottom: 20px;
}
@media screen and (min-width: 992px) {
	.login-icon {
		left: 20px;
	}
}
@media screen and (max-width: 991px) {
	.login-icon {
		left: 5px;
	}
}

/* remove the left space of ul list */
ul {
    list-style: none;
    padding-left: 0
}

/* colors */
.text-orange {
    color: #FFB84D;
}
.bg-orange {
    background:#FFB84D;
}
.btn-orange {
    background:#FFB84D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e5a545;
  --bs-btn-hover-border-color: #e5a545;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e5a545;
  --bs-btn-active-border-color: #e5a545;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FFB84D;
  --bs-btn-disabled-border-color: #FFB84D;
}
