.ss-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.ss-sidebar {
  width: 20%;
  background-color: white;
}

.ss-main {
  width: 80%;
  margin: 0 10px;
}

.container {
  height: 100vh !important;
}

.ul {
  list-style: none;
}

.btn-orange {
  background: #FFB84D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e5a545;
  --bs-btn-hover-border-color: #e5a545;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e5a545;
  --bs-btn-active-border-color: #e5a545;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FFB84D;
  --bs-btn-disabled-border-color: #FFB84D;
}

.fa-hashtag {
  color: #6A9DFF;
}

.tag-header {
  --bs-text-opacity: .7;
}

.tag-bar {
  height: 100%;
}

.tag-name {
  --bs-text-opacity: .5;
}

.logo-center {
  text-align: center;
}

.textarea {
  resize: none;
}
