.icon-lg {
  font-size: 9rem;
}

.icon-ex-lg {
  font-size: 18rem;
}

.avatar-lg {
  width: 9rem;
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-ex-lg {
  width: 18rem;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-orange {
  background: #FFB84D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e5a545;
  --bs-btn-hover-border-color: #e5a545;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e5a545;
  --bs-btn-active-border-color: #e5a545;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FFB84D;
  --bs-btn-disabled-border-color: #FFB84D;
}
